.completed-page {
  background-size: cover;
}

.completed {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.completed > p {
  margin-top: .65rem;
}
.completed-button {
  margin-top: 1.75rem;
}
@media (max-width: 767px) {
  .completed > div {
    padding: 20px;
  }
  .completed p {
    margin-top: 1rem;
  }
}